# Compiled class file
*.class

# Json Cucumber generated report files
automation-test-api.json
automation-test-gui.json

# Cucumber Report output folder
Report/

# Screenshot Failures folder
FailureScreenshots/

# Binaries folder
Bin/
target/

# Image files
*.png

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
